<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="../src/style/product.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
        <title>Document</title>
    </head>
    <body>
        <div class="container">
            <section class="content">
                <!-- content -->
                <div class="nav"></div>
                <div class="info">
                    <div class="info-img">
                        <div class="image">
                            <img src="../src/image/book.png" class="book-img" />
                        </div>
                        <div class="rate">
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star-fill"></i>
                            <i class="bi bi-star"></i>
                        </div>
                    </div>
                    <div class="info-text">
                        <h1 class="book-name">Elon Musk</h1>
                        <h2 class="book-auth">by Ashlee Vance</h2>
                        <p class="book-description">
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo illum unde vero sit repellat
                            veritatis velit quisquam qui ipsum repellendus, tenetur iste hic iusto voluptatum ipsa
                            molestiae minus totam, harum, amet magni facere! Voluptatibus sed animi laudantium totam
                            alias repellendus laborum sint qui cum, nesciunt velit doloremque pariatur labore fugit,
                            vero molestias soluta? Excepturi repellendus et sunt ea nesciunt est molestiae quos quidem
                            ipsum. Numquam, atque? Eius dicta ullam blanditiis odit aspernatur. Ducimus, veniam
                            accusamus itaque iste
                        </p>
                        <div class="price">
                            <p class="price-text"><strong>NT$ 199</strong></p>
                        </div>
                        <div class="btn-area">
                            <button class="fav-btn">Favorite<i class="bi bi-heart-fill"></i></button>
                            <button class="cart-btn">Add to cart<i class="bi bi-cart-fill"></i></button>
                        </div>
                    </div>
                </div>
                <div class="footer">
                    <p>Scroll to see comments</p>
                    <i class="bi bi-chevron-compact-down"></i>
                </div>
            </section>
            <section class="comment">
                <!-- comment -->
                <h1>comment</h1>
            </section>
        </div>
    </body>
</html>
