/* Main Setting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background: #f3f5f7;
}

.container-full > .wrap {
    margin: 0;
}

.product-info-wrap {
    padding-left: 5vw;
}

.product-info-area {
    padding: 20px;
    margin-top: 5vh;
    background: white;
    border-radius: 15px;
}

.head-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5vh;
}
.product-order-id {
    margin: 0;
    font-size: 32px;
}

/* Product Order State */
.product-order-state {
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    align-items: center;
}
.product-order-state > i {
    margin-right: 6px;
}
.product-order-state.wait {
    background: rgb(165, 216, 165);
    color: rgb(49, 127, 49);
}
.product-order-state.finish {
    background: rgb(237, 213, 62);
    color: white;
}
.product-order-state.cancel {
    background: rgb(223, 79, 79);
    color: rgb(255, 255, 255);
}
.product-order-state.return {
    background: rgb(165, 188, 216);
    color: rgb(49, 91, 127);
}

.body-wrap {
    margin-top: 30px;
    display: flex;
    padding-left: 16px;
    padding-right: 16px;
    max-height: 80vh;
    overflow-y: scroll;
}
.product-component {
    padding: 10px;
    padding-left: 16px;
    display: flex;
    height: 140px;
    background: white;
    border-radius: 15px;
    border: 1px solid rgb(236, 236, 236);
    align-items: center;
    margin-bottom: 26px;
    transition: .5s;
}
.product-component:hover {
    background: rgb(245, 245, 245);
    transition: .5s;
}
.product-img {
    height: 100%;
}
.product-img > img {
    height: 100%;
}
.product-info {
    margin-left: 20px;
}
.product-info > h1 {
    font-size: 20px;
}
.product-info > a {
    color: red;
    font-weight: bold;
}

.msg-wrap {
    height: 100vh;
    padding-right: 5vw;
}

/* Area Setting */
.msg-content-area {
    height: 95%;
    padding: 20px;
    overflow-y: scroll;
}
.send-area {
    height: 5%;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/* Msg Content Area */
.msg-component {
    display: flex;
    margin-bottom: 16px;
}
.by-self {
    justify-content: end;
}
.by-other {
    justify-self: start;
}
.msg-component-body {
    padding: 20px;
    max-width: 40vw;
    background: white;
    border-radius: 15px;
    overflow-wrap: break-word;
}
.by-self > .msg-component-body {
    color: white;
    background: rgb(70, 122, 212);
}

/* Msg Send Area */
.send-area-wrap {
    display: flex;
    height: 100%;
    align-content: center;
}
.input-wrap {
    width: 95%;
    padding-right: 14px;
}
.send-btn-wrap {
    cursor: pointer;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.input-box {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 15px;
    padding-left: 20px;
}
.send-btn {
    font-size: 34px;
    color: rgb(70, 122, 212);
}

/* Animation */
@keyframes append-animate {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* animate new msg-component */
.msg-component {
    animation: append-animate 0.3s linear;
}
