<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Product</h1>
        <h3>searchProductByName</h3>
        <input type="text" id="text-1" /><br />
        <button id="btn-1">Search</button>

        <h3>searchProductNum</h3>
        <input type="text" id="text-2" /><br />
        <button id="btn-2">Search</button>

        <h3>updateProductNum</h3>
        id: <input type="text" id="text-3-1" /><br />
        num: <input type="text" id="text-3-2" /><br />
        <button id="btn-3">Update</button>

        <h3>sendFreeShippingCoupon</h3>
        <button id="btn-4">send</button>

        <h1>customerService</h1>
        <h3>createCsRecord</h3>
        member id: <input type="text" id="text-5-1" /><br />
        cs id: <input type="text" id="text-5-2" /><br />
        topic: <input type="text" id="text-5-3" /><br />
        product id: <input type="text" id="text-5-4" /><br />
        <button id="btn-5">Create</button>

        <h3>createCsMessage</h3>
        cs record id: <input type="text" id="text-6-1" /><br />
        msg content: <input type="text" id="text-6-2" /><br />
        msg by: <input type="text" id="text-6-3" /><br />
        <button id="btn-6">Create</button>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="product.js"></script>
        <script src="coupon.js"></script>
        <script src="customerService.js"></script>
    </body>
</html>
