* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .page {
    background-color: #F3F5F7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .border-line {
    border-top: 1px solid #E1E1E1;
  }

  .btn-con-Shop {
    font-size: 28px;
    width: 363px;
    height: 82px;
    background-color: #448BDE;
    border: #448BDE;
    border-radius: 50px;
    color: #fff;
  }

  .scroll {
    overflow-y: scroll;
    overflow-x: hidden;
  }


  ul,li {
    list-style: none;
    display:inline;
  }
  .input-num {
    border:none;
  }
  .quanity {
    width: 92px;
    background-color: #fff;
    height: 40px;
    cursor: pointer;
    border-radius: 50px;
  }
  .quanity .sub, .input-num, .add {
    display: inline-block;
    width: 20px;
    height: 24px;
    text-align: center;
    font-size: 24px;
    user-select:none;
  }

  .summary {
    left: 60px;
    color: #fff;
    background-color: #363640;
    border-radius: 50px;
    width: 510px;
  }

  .add-coupon {
    right:43px;
    color: #000000;
    background-color: #E5E5E5;
    border-radius: 50px;
    border: 0;
  }

  .display-coupon {
    padding:0 10px;
    background-color: #fff;
    border-radius: 50px;
  }
  .btn-check-out {
    position: relative;
    left: 220px;
    font-size: 28px;
    width: 260px;
    height: 82px;
    background-color: #448BDE;
    border: #448BDE;
    border-radius: 50px;
    color: #fff;
  }