body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #E5E5E5;
}

.registerBackground {
    margin-top: 25px;
}

.register_card {
    color: #A19A9A;
    margin-top: 150px;
    background-color: #FFFFFF;
    box-sizing: border-box;
    height: 500px;
    box-shadow: -50px -50px 0px #F0F0F0;
    border-radius: 50px;
}


.square_middle {
    padding-top: 25px;
    margin-left: -80px;
}

.register_name {
    text-align: left;
    width: 100px;
}

.register_input {
    width: 280px;
    height: 45px;
    background: #F0F0F0;
    border-radius: 15px;
    position: relative;
    display: inline-block;
    content: center;
}

.btn {
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

/* .btn:active {
    transform: translate(0px, 5px);
    -webkit-transform: translate(0px, 5px);
    box-shadow: 0px 1px 0px 0px;
} */

.green {
    background-color: #ECFBB2;
    box-shadow: 0px 5px 0px 0px #ECFBB2;
}

.green:hover {
    color: #A19A9A;
}

.modal_border {
    border-radius: 20px;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(#D9D7F1 12%,
            #BAABDA 12%, #BAABDA 33%,
            #E7FBBE 33%, #E7FBBE 55%,
            #FFCBCB 55%, #FFCBCB 70%,
            #B5DEFF 70%, #B5DEFF 87%,
            #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}

.offcanvas {
    width: 350px;
}

.offcanvas-header {
    margin-top: 40px;
    color: #A19A9A;
    font-size: 24px;
}

.offcanvas-body {
    color: #A19A9A;
    font-size: 24px;
}

.offcanvas-body button {
    margin-top: 40px;
}

.offcanvas-footer {
    margin-bottom: 40px;
    color: #A19A9A;
    font-size: 24px;

}

.search_input {
    height: 32px;
}

.navbar_btn {
    border: none;
    font-size: 20px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.navbar_btn:hover {
    color: #A19A9A;
}

.offcanvas_btn {
    border: none;
    /* padding: 10px 10px; */
    font-size: 24px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.offcanvas_btn:hover {
    color: #A19A9A;
}

.navbar-nav {
    color: #A19A9A;
}

.navbar-nav ul {
    width: 100vw;
}

.navbar_topic {
    text-decoration: none;
    color: transparent;
}

.navbar_topic:hover {
    color: transparent;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(#D9D7F1 12%,
            #BAABDA 12%, #BAABDA 33%,
            #E7FBBE 33%, #E7FBBE 55%,
            #FFCBCB 55%, #FFCBCB 70%,
            #B5DEFF 70%, #B5DEFF 87%,
            #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}