* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .page {
    background-color: #F3F5F7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }

  .btn-view-info{
    color: #fff;
    background-color: #ABDA9F;
    border-color: #ABDA9F;
  }
  .btn-not-add-to-cart{
    color: #fff;
    background-color: #B1DEE9;
    border-color: #B1DEE9;
  }
  .btn-add-to-cart{
    color: #fff;
    background-color: #448BDE;
    border-color: #448BDE;
  }

  .scroll{
    overflow-y: scroll;
  }

  /* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
.offcanvas {
  width: 350px;
}

.offcanvas-header {
  margin-top: 40px;
  color: #A19A9A;
  font-size: 24px;
}

.offcanvas-body {
  color: #A19A9A;
  font-size: 24px;
}

.offcanvas-body button {
  margin-top: 40px;
}

.offcanvas-footer {
  margin-bottom: 40px;
  color: #A19A9A;
  font-size: 24px;

}

.search_input {
  width: 240px;
  height: 32px;
}
.container-fluid {
  position: fixed;
}

.navbar_btn {
  border: none;
  font-size: 20px;
  text-decoration: none;
  /* margin: 20px; */
  background-color: white;
  color: #A19A9A;
  position: relative;
  display: inline-block;
}

.navbar_btn:hover {
  color: #A19A9A;
}

.offcanvas_btn {
  border: none;
  /* padding: 10px 10px; */
  font-size: 24px;
  text-decoration: none;
  /* margin: 20px; */
  background-color: white;
  color: #A19A9A;
  position: relative;
  display: inline-block;
}

.offcanvas_btn:hover {
  color: #A19A9A;
}

.navbar-nav {
  color: #A19A9A;
}

.navbar-nav ul {
  width: 100vw;
}

.navbar_topic {
  text-decoration: none;
  color: transparent;
}

.navbar_topic:hover {
  color: transparent;
}

.gradient-text {
  color: transparent;
  background: conic-gradient(#D9D7F1 12%,
          #BAABDA 12%, #BAABDA 33%,
          #E7FBBE 33%, #E7FBBE 55%,
          #FFCBCB 55%, #FFCBCB 70%,
          #B5DEFF 70%, #B5DEFF 87%,
          #F7D1BA 87%);
  background-size: 50%;
  background-clip: text;
  -webkit-background-clip: text;

  animation: expand-rev 0.5s ease forwards;

  cursor: pointer;
}

.gradient-text:hover {
  animation: expand 0.5s ease forwards;
}

@keyframes expand {
  0% {
      background-size: 50%;
      background-position: 0 0;
  }

  20% {
      background-size: 55%;
      background-position: 0 1em;
  }

  100% {
      background-size: 325%;
      background-position: -10em -4em;
  }
}

@keyframes expand-rev {
  0% {
      background-size: 325%;
      background-position: -10em -4em;
  }

  20% {
      background-size: 55%;
      background-position: 0 1em;
  }

  100% {
      background-size: 50%;
      background-position: 0 0;
  }
}