/* Main Setting */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #f3f5f7;
}

.loading-area {
    width: 100vw;
    height: 100vh;
    z-index: 10;
    position: fixed;
    display: flex;
}
.loading-area .logo-box {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shine {
    color: transparent;
    background: conic-gradient(
        #d9d7f1 12%,
        #baabda 12%,
        #baabda 33%,
        #e7fbbe 33%,
        #e7fbbe 55%,
        #ffcbcb 55%,
        #ffcbcb 70%,
        #b5deff 70%,
        #b5deff 87%,
        #f7d1ba 87%
    );
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: logoShine 1.5s ease forwards;
}
.logo-text {
    color: transparent;
    opacity: 1;
}
.loading-area .left-box {
    height: 100%;
    width: 50%;
    background: white;
}
.loading-area .right-box {
    height: 100%;
    width: 50%;
    background: white;
}
.slideUp {
    animation: slideUp;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.slideDown {
    animation: slideDown;
    animation-duration: 0.8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
.fadeOut {
    animation: fadeOut;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
@keyframes logoShine {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}
@keyframes slideUp {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(100%);
    }
}
@keyframes slideDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* Ad */
.ad-area {
    height: 35vh;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow-x: scroll;
}
.ad-wrap {
    height: 100%;
    display: flex;
    scroll-snap-align: center;
}
::-webkit-scrollbar {
    display: none;
}
.ad-component {
    width: 100%;
    height: 100%;
    background: #f0b0b0;
}
.ad-component > .row {
    width: 100%;
    height: 100%;
}
.ad-img-wrap {
    height: 100%;
}
.ad-img-wrap > img {
    height: 90%;
}
.ad-info-wrap {
    color: white;
}
.ad-view-btn {
    border: none;
    background: white;
    border-radius: 15px;
    color: #f0b0b0;
}

/* Content */
.content-area {
    height: 57vh;
}
.content-area > .row {
    height: 100%;
}

/* Recent Browsing */
.recent-area {
    height: 100%;
}
.recent-area > .head {
    height: 10%;
}
.recent-area > .head > h1 {
    color: #8c929b;
    font-size: 20px;
}
.browsing-history-component-wrap {
    height: 90%;
    overflow-y: scroll;
}
.browsing-history-component {
    transition: 0.5s;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 14vh;
}
.browsing-history-component > .row {
    height: 100%;
}
.browsing-history-image {
    height: 100%;
}
.browsing-history-image > img {
    height: 100%;
}
.browsing-history-info h1 {
    letter-spacing: 4px;
    letter-spacing: 4px;
    color: #3f4953;
    font-size: 24px;
}
.browsing-history-info h3 {
    letter-spacing: 4px;
    color: #9199a0;
    font-size: 16px;
}
.browsing-history-component:hover {
    transition: 0.5s;
    background: white;
    cursor: pointer;
}

/* ForYou Area */
.foryou-area {
    height: 100%;
}
.foryou-area > .head {
    height: 10%;
    border-bottom: 1px solid #8c929b;
}
.foryou-area > .head > h1 {
    color: #8c929b;
    font-size: 20px;
}
.strong-black {
    color: black;
}
.foryou-component-area {
    height: 90%;
    overflow-y: scroll;
}
.foryou-component {
    height: 30vh;
}
.foryou-component > .wrap {
    transition: 0.5s;
    background: white;
    height: 100%;
    border-radius: 5px;
}
.foryou-component:hover > .wrap {
    -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    border-radius: 15px;
}
.foryou-heart {
    height: 16%;
}
.heart {
    color: #F0B0B0;
}
.heart:hover {
    cursor: pointer;
}
.bounce {
    animation: bounce;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
}
@keyframes bounce {
    0% {
        transform: scale(100%);
    }
    50% {
        transform: scale(120%);
    }
    100% {
        transform: scale(100%);
    }
}
.foryou-product-info {
    height: 68%;
}
.foryou-cart-btn {
    height: 16%;
}
.foryou-product-info .row {
    height: 100%;
}
.foryou-product-image {
    height: 100%;
}
.foryou-product-info img {
    height: 100%;
    transition: 0.4s;
}
.foryou-product-info img:hover {
    margin-top: -10px;
    cursor: pointer;
    transition: 0.4s;
}
.foryou-product-info-text {
    height: 100%;
}
.foryou-product-info-text > .title {
    height: 15%;
}
.foryou-product-info-text > .subtitle {
    height: 15%;
}
.foryou-product-info-text > .content {
    overflow-y: scroll;
    height: 60%;
}
.foryou-product-info-text > .rate {
    height: 10%;
}
.star {
    color: #8c929b;
    margin-right: 4px;
}
.foryou-product-info-text h1 {
    margin: 0;
    color: #3f4953;
    font-size: 24px;
}
.foryou-product-info-text h3 {
    margin: 0;
    color: #9199a0;
    font-size: 20px;
}
.foryou-product-info-text p {
    margin: 0;
    color: #9199a0;
    font-size: 16px;
}
.cart-btn {
    color: #9199a0;
    user-select: none;
    letter-spacing: 4px;
    transition: 0.4s;
}
.add-to-cart-btn:hover {
    cursor: pointer;
    margin-right: 10px;
    transition: 0.4s;
    color: #b1dee9;
}
.remove-from-cart-btn:hover {
    cursor: pointer;
    margin-right: 10px;
    transition: 0.4s;
    color: #F0B0B0;;
}

/* Nav Bar */
.navbar-area {
    height: 8vh;
}
.offcanvas {
    width: 350px;
}

.offcanvas-header {
    margin-top: 40px;
    color: #a19a9a;
    font-size: 24px;
}

.offcanvas-body {
    color: #a19a9a;
    font-size: 24px;
}

.offcanvas-body button {
    margin-top: 40px;
}

.offcanvas-footer {
    margin-bottom: 40px;
    color: #a19a9a;
    font-size: 24px;
}

.search_input {
    height: 32px;
}

.navbar_btn {
    border: none;
    font-size: 20px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #a19a9a;
    position: relative;
    display: inline-block;
}

.navbar_btn:hover {
    color: #a19a9a;
}

.offcanvas_btn {
    border: none;
    /* padding: 10px 10px; */
    font-size: 24px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #a19a9a;
    position: relative;
    display: inline-block;
}

.offcanvas_btn:hover {
    color: #a19a9a;
}

.search_input {
    width: 240px;
    height: 32px;
}

.navbar-nav {
    color: #a19a9a;
}

.navbar-nav ul {
    width: 100vw;
}

.navbar_topic {
    text-decoration: none;
    color: transparent;
}

.navbar_topic:hover {
    color: transparent;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(
        #d9d7f1 12%,
        #baabda 12%,
        #baabda 33%,
        #e7fbbe 33%,
        #e7fbbe 55%,
        #ffcbcb 55%,
        #ffcbcb 70%,
        #b5deff 70%,
        #b5deff 87%,
        #f7d1ba 87%
    );
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}
