body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #cad3d6;
}

.page {
    background-color: #F3F5F7;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.title {
    margin-top: 20px;
    width: 300px;
    font-size: 36px;
}

.card_title {
    color: #9DAB73;
}

.card_text {
    width: 65px;
}

.orderList {
    box-sizing: border-box;
    height: 75vh;
    overflow-y: scroll;
}

.orderList_card {
    width: 1050px;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: -20px -20px #F6FAF1;
}

.card {
    border: none;
    color: #A19A9A;
}

.card_up {
    margin-left: 24px;
}

.card_down {
    margin-left: 24px;
}

.comment_input {
    width: 300px;
    height: 50px;
    background: #F0F0F0;
    border-radius: 20px;
    position: relative;
    display: inline-block;
    content: center;
}

.product_list {
    height: 180px;
    overflow-y: scroll;
}

.btn {
    border-radius: 20px;
    padding: 10px 10px;
    font-size: 22px;
    text-decoration: none;
    margin: 20px;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.red {
    color: #FFFFFF;
    background-color: #ff5b5b;
}

.red:hover {
    color: #FFFFFF;
}

.yellow {
    color: #FFFFFF;
    background-color: #f9d50e;
}

.yellow:hover {
    color: #FFFFFF;
}

.deep_green {
    color: #FFFFFF;
    background-color: #28c270;
}

.deep_green:hover {
    color: #FFFFFF;
}



.green {
    background-color: #ECFBB2;
}

.green:hover {
    color: #A19A9A;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(#D9D7F1 12%,
            #BAABDA 12%, #BAABDA 33%,
            #E7FBBE 33%, #E7FBBE 55%,
            #FFCBCB 55%, #FFCBCB 70%,
            #B5DEFF 70%, #B5DEFF 87%,
            #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}
.offcanvas {
    width: 350px;
}

.offcanvas-header {
    margin-top: 40px;
    color: #A19A9A;
    font-size: 24px;
}

.offcanvas-body {
    color: #A19A9A;
    font-size: 24px;
}

.offcanvas-body button {
    margin-top: 40px;
}

.offcanvas-footer {
    margin-bottom: 40px;
    color: #A19A9A;
    font-size: 24px;

}

.search_input {
    width: 240px;
    height: 32px;
}

.navbar_btn {
    border: none;
    font-size: 20px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.navbar_btn:hover {
    color: #A19A9A;
}

.offcanvas_btn {
    border: none;
    /* padding: 10px 10px; */
    font-size: 24px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.offcanvas_btn:hover {
    color: #A19A9A;
}

.navbar-nav {
    color: #A19A9A;
}

.navbar-nav ul {
    width: 100vw;
}

.navbar_topic {
    text-decoration: none;
    color: transparent;
}

.navbar_topic:hover {
    color: transparent;
}

.gradient-text {
    color: transparent;
    background: conic-gradient(#D9D7F1 12%,
            #BAABDA 12%, #BAABDA 33%,
            #E7FBBE 33%, #E7FBBE 55%,
            #FFCBCB 55%, #FFCBCB 70%,
            #B5DEFF 70%, #B5DEFF 87%,
            #F7D1BA 87%);
    background-size: 50%;
    background-clip: text;
    -webkit-background-clip: text;

    animation: expand-rev 0.5s ease forwards;

    cursor: pointer;
}

.gradient-text:hover {
    animation: expand 0.5s ease forwards;
}

@keyframes expand {
    0% {
        background-size: 50%;
        background-position: 0 0;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 325%;
        background-position: -10em -4em;
    }
}

@keyframes expand-rev {
    0% {
        background-size: 325%;
        background-position: -10em -4em;
    }

    20% {
        background-size: 55%;
        background-position: 0 1em;
    }

    100% {
        background-size: 50%;
        background-position: 0 0;
    }
}