.search_input {
    height: 32px;
}

.navbar_btn {
    border: none;
    font-size: 20px;
    text-decoration: none;
    /* margin: 20px; */
    background-color: white;
    color: #A19A9A;
    position: relative;
    display: inline-block;
}

.navbar_btn:hover {
    color: #A19A9A;
}

.navbar-nav {
    color: #A19A9A;
}

.navbar-nav ul {
    width: 100vw;
}
