<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cart</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CD-Book-Store-System/view/src/style/cart.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
</head>
<body>
    <div class="page">
        <div class="container">
            <div class="row">
                <div class="container py-5 col-7">
                    <div class="row align-items-center justify-content-center pb-3">
                        <div class="py-3"><h1>Shopping Cart</h1></div>
                        <div class="col-6"><h2>Product</h2></div>
                        <div class="col-3 px-0"><h2>Quanity</h2></div>
                        <div class="col-3 px-0"><h2>Total Price</h2></div>
                    </div>
                    <div class="scroll" style="height: 60vh;" id="cart">
                        
                        

                    </div>
                    <div class="mt-5">
                        <button type="button" class="btn-con-Shop"><i class="bi bi-chevron-left"></i>Continue Shopping</button>
                    </div>
                </div>
                <div class="container py-5 col-5">
                    <div class="ms-5 py-4 d-flex justify-content-center align-items-center">
                        <div class="card summary pb-5">
                            <div class="row">
                                <div class="py-5 px-5"><h1 class="px-3">Summary</h1></div>
                            </div>
                            <div class="card add-coupon ps-5">
                                <div class="py-5">
                                    <h3 class="mb-4">Add Coupon:
                                        <select class="form-select" id="form-select" style="width: 190px;display: inline;border: none;border-radius: 50px;font-size:24px;cursor:pointer;" aria-label="Default select example">
                                            <option class="couponOption" selected>clear all</option>


                                        </select>
                                    </h3>
                                    <h3 id="displayCoupon">Coupon:


                                    </h3>
                                </div>
                            </div>
                            <div class="row px-5 mx-3">
                                <div class="mt-5 pt-3 pb-3 px-0 row">
                                    <h3 class="col-6">Subtotal :</h3>
                                    <h3 id="subtotal" class="col-6">$0</h3>
                                </div>
                                <div class="row pb-3 px-0">
                                    <h3 class="col-6">Discount :</h3>
                                    <h3 id="discount" class="col-6">$0</h3>
                                </div>
                                <div class="row pb-3 px-0">
                                    <h3 class="col-6">Deliver :</h3>
                                    <h3 id="shipping" class="col-6">$60</h3>
                                </div>
                                <div class="py-3 px-0 border-line"><h3>TOTAL : <a id="total">$0</a></h3></div>
                            </div>
                        </div>
                    </div>
                    <div class="mt-5">
                        <button type="button" class="btn-check-out">Check Out</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../src/script/cart.js"></script>
    <script src="../src/script/cartLoad.js"></script>
</body>
</html>