<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>followList</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/CD-Book-Store-System/view/src/style/followList.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.0/font/bootstrap-icons.css" />
</head>
<body>
    <div class="page">
        <div class="container py-5">
            <div class="row align-items-center justify-content-center">
                <div>
                    <h1 class="mx-auto" style="width: 300px;font-size:36px;"><i class="mx-4 bi bi-heart" style="color: #F0B0B0;"></i>Following</h1>
                </div>
            </div>
            <div class="row my-3 justify-content-center">
                <div class="col-12 scroll" style="width: 1053px;height: 85vh;" id="followList">
                    
                    <!-- <div class="shadow card p-4 my-4">
                        <div class="d-flex">
                            <div class="px-3"><img src="./getImage.jfif" alt="" width="165" height="237"></div>
                            <div class="flex-fill d-flex flex-column">
                                <div class="align-self-end"><i class="bi bi-heart-fill test" id="removeCard" style="color: #F0B0B0;cursor:pointer;"></i></div>
                                <div class="flex-fill d-flex  align-items-center justify-content-end">
                                    <div class="col-4">
                                        <h1 style="color: #3F4953;font-size:28px;">Elon Musk</h1>
                                        <p style="color: #9199A0;font-size:20px;">by Ashlee Vance</p>
                                        <p id=""></p>
                                        <i class="me-1 bi bi-star-fill" style="color: #8C929B;"></i>
                                        <i class="me-1 bi bi-star-fill" style="color: #8C929B;"></i>
                                        <i class="me-1 bi bi-star-fill" style="color: #8C929B;"></i>
                                        <i class="me-1 bi bi-star-fill" style="color: #8C929B;"></i>
                                        <i class="me-1 bi bi-star" style="color: #8C929B;"></i>
                                    </div>
                                    <div class="align-self-end pt-5">
                                        <button type="button" class="ms-4 ps-5 btn btn-view-info" style="width:225px;height:60px;">View info<i class="ms-5 bi bi-info-circle-fill"></i></button>
                                        <button type="button" class="ms-3 ps-5 btn btn-add-to-cart" style="width:225px;height:60px;">Add to cart<i class="ms-5 bi bi-cart-fill"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../src/script/followList.js"></script>
</body>
</html>